<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Component basics</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <div id="components-demo">
<button-counter></button-counter>
    </div>

    <h2>Props via child components</h2>

    <div id="blog-post" class="demo">
        <blog-post title="Star wars"></blog-post>
        <blog-post title="Mandalorian "></blog-post>
        <blog-post title="The Book of boba fett"></blog-post>
    </div>
 
  


<script src="https://unpkg.com/vue@next" ></script>
<script src="app.js"></script>
</body>
</html>